In [ ]:
print("hello world")

hello world

In [ ]:
print("Gurvani Ahuja")
print("Gurvani Ahuja")
print("Gurvani Ahuja")

Gurvani Ahuja
Gurvani Ahuja
Gurvani Ahuja

In [ ]:
a=2
b=4
c=5
d=a+b+c
print(a,"+",b,"+",c,"->",d)

2 + 4 + 5 -> 11

In [ ]:
a="hellooo"
b="welcome"
c="home"
d=a+b+c
print(a,"+",b,"+",c,"->",d)

hellooo + welcome + home -> hellooowelcomehome

In [ ]:
a=input("enter first string")
b=input("enter second string")
c=a+b
print(a,"+",b,"->",c)

enter first stringgurvani
enter second stringahuja
gurvani + ahuja -> gurvaniahuja

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=a+b
print(a,"+",b,"->",c)

enter first number7
enter second number22
7 + 22 -> 29

In [ ]:
for i in range(1,11):
  print(7,"x",i,"=",i*7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
for i in range(1,11):
  print(9,"x",i,"=",i*9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
n=int(input("enter the number"))
for i in range(1,11):
  print(n,"x",i,"=",i*n)

enter the number11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
n=int(input("enter the number till which numbers are to be added"))
print("sum is--> ",sum(range(1,n+1)))

enter the number till which numbers are to be added10
sum is-->  55

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
if a>=b:
  if a>=c:
    print("the largest number is",a)
  else:
    print("the largest number is",c)
else:
  if b>=c:
     print("the largest number is",b)
  else:
     print("the largest number is",c)

enter first number3
enter second number5
enter third number22
the largest number is 22

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
print("max is-->",max(a,b,c))

enter first number2
enter second number4
enter third number1
max is--> 4

In [ ]:
a=int(input("enter n"))
ans=0
for i in range(1,a+1):
  if i%7==0 and i%9==0:
    ans=ans+i
print("the sum is",ans)

enter n100
the sum is 63

In [ ]:
n=int(input("enter n"))
ans=0
f=0
for i in range(2,n//2+1):
  if n%i==0:
   f=1
   break
if f==0:
  ans=ans+a
else:
  ans=ans+0



print("sum is",ans)

enter n10
sum is 0

In [ ]:
import math as m
print("exp(-200)-->",m.exp(-200))
print("log(100,2)-->",m.log(100,2))
print("log(100,10)-->",m.log(100,10))
print("log10(100)-->",m.log10(100))
print("cos(30)-->",m.cos(30))
print("sin(30)-->",m.sin(30))
print("tan(30)-->",m.tan(30))
print("sqrt(25)-->",m.sqrt(25))
print("ceil(89.9)-->",m.ceil(89.9))
print("floor(89.9)-->",m.floor(89.9))

exp(-200)--> 1.3838965267367376e-87
log(100,2)--> 6.643856189774725
log(100,10)--> 2.0
log10(100)--> 2.0
cos(30)--> 0.15425144988758405
sin(30)--> -0.9880316240928618
tan(30)--> -6.405331196646276
sqrt(25)--> 5.0
ceil(89.9)--> 90
floor(89.9)--> 89

In [ ]:
var='hello world'
print("var -->",var)
print("var[0]-->",var[0])
print("var[1:5]-->",var[1:5])
print("var[0:5]-->",var[0:5])

var --> hello world
var[0]--> h
var[1:5]--> ello
var[0:5]--> hello

In [ ]:
var='gurvani ahuja'
print("string-->",var)
print("length-->",len(var))
print("upper-->",var.upper())
print("lower-->",var.lower())

string--> gurvani ahuja
length--> 13
upper--> GURVANI AHUJA
lower--> gurvani ahuja

In [ ]:
name=input("enter you name :")
age=int(input("enter your age :"))
price=float(input("enter the price of the book to buy:"))
s=" your name is %s,age is %d ans price is %f" %(name,age,price)
print(s)

enter you name :gurvani
enter your age :19
enter the price of the book to buy:22.50
 your name is gurvani,age is 19 ans price is 22.500000

In [ ]:
para_str= """Gurvani ahuja is the best"""
print(para_str)

Gurvani ahuja is the best

In [ ]:
var="    hello world  "
print(var)
print(len(var))
print(var.strip())
print("length of var after strip",len(var.strip()))

    hello world
17
hello world
length of var after strip 11

In [ ]:
var="  hello world  "
print("string-->",var)
print("length-->",len(var))
print("var split-->",var.split())
print("var split-->",var.split(' '))
print("var split-->",var.split(','))

string-->   hello world
length--> 15
var split--> ['hello', 'world']
var split--> ['', '', 'hello', 'world', '', '']
var split--> ['  hello world  ']

In [ ]:
var="   indian army  "
print("string-->",var)
print("length-->",len(var))
print("count of ' ' -->",var.count(' '))
print("count of 'a' -->",var.count('a'))
print("count of 'n' -->",var.count('n'))

string-->    indian army
length--> 16
count of ' ' --> 6
count of 'a' --> 2
count of 'n' --> 2

In [ ]:
var="indian army"
print("string-->",var)
print("var[::1]-->",var[::1])
print("var[::2]-->",var[::2])
print("var[::-1]-->",var[::-1])
print("var[::-2]-->",var[::-2])
var=var[::-1]
print("var after reverse-->",var)

string--> indian army
var[::1]--> indian army
var[::2]--> ida ry
var[::-1]--> ymra naidni
var[::-2]--> yr adi
var after reverse--> ymra naidni

In [ ]:
s1="gurvani ahuja"
s2="malayalam"
print("s1-->",s1==s1[::-1])
print("s2-->",s2==s2[::-1])

s1--> False
s2--> True

In [ ]:
import random as r
print(r.random())
print(round(r.random(),2))

0.13678622544279662
0.81

In [ ]:
import random as r
print(r.randint(1,100))
print(r.randint(1,88))
print(r.randint(-22,22))

88
40
-20

In [ ]:
import random as r
print(r.uniform(1,100))
print(r.uniform(1,77))
print(r.uniform(-22,22))
print(round(r.uniform(-10,10),3))

16.547549645757147
29.087138954605923
21.19066217548027
7.162

In [ ]:
import random as r
A=[1,2,3,4,5,6,7,8,9,10]
print(r.sample(A,4))
print(r.sample(A,7))
print(r.sample(range(1,100),9))

[9, 6, 1, 3]
[3, 6, 9, 1, 4, 10, 5]
[17, 53, 81, 49, 92, 83, 39, 52, 10]

In [ ]:
import string as s
import random as r
s="welcome to google collab and learn how to do python"
print("string is-->",s)
pwrd=r.sample(s,5)
print("pwrd-->",pwrd)
pwrd1="".join(pwrd)
print(pwrd1)
pwrd2="/".join(pwrd)
print(pwrd2)

string is--> welcome to google collab and learn how to do python
pwrd--> ['o', 'd', 'm', ' ', 'r']
odm r
o/d/m/ /r

In [ ]:
import random as r
import string as s
print("digits-->",s.digits)
pwrd=r.sample(s.digits,6)
print(pwrd)
pwrd1="".join(pwrd)
print(pwrd1)

digits--> 0123456789
['4', '1', '7', '6', '5', '2']
417652

In [ ]:
import random as r
import string as s
print("string + digits-->",s.ascii_letters+s.digits)
mix=r.sample(s.ascii_letters+s.digits,5)
print(mix)
mix1="".join(mix)
print(mix1)

string + digits--> abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
['l', 'T', 'U', 'J', 'V']
lTUJV

In [ ]:
for i in range(-2,6):
  print("100/",i,"-->",100/i)

100/ -2 --> -50.0
100/ -1 --> -100.0

ZeroDivisionError: division by zero

In [ ]:
for i in range(-2,6):
  try:
    print("100/",i,"-->",100/i)
  except:
    print("error")

100/ -2 --> -50.0
100/ -1 --> -100.0
error
100/ 1 --> 100.0
100/ 2 --> 50.0
100/ 3 --> 33.333333333333336
100/ 4 --> 25.0
100/ 5 --> 20.0

In [ ]:
list=[1,2,3,4,5]
for i in range(9):
  try:
    print("i-->",list[i])
  except:
    print("error")

i--> 1
i--> 2
i--> 3
i--> 4
i--> 5
error
error
error
error

In [ ]:
L=["Gurvani ahuja",2.2,22]
print("original list-->",L)
print("length of list is-->",len(L))

original list--> ['Gurvani ahuja', 2.2, 22]
length of list is--> 3

In [ ]:
L=["Gurvani ahuja",2.2,22]
print("original list-->",L)
i=0
while i<len(L):
  print(L[i])
  i=i+1

original list--> ['Gurvani ahuja', 2.2, 22]
Gurvani ahuja
2.2
22

In [ ]:
L=["Gurvani ahuja",2.2,22]
print("original list-->",L)
for i in range(0,len(L)):
  print(L[i])

original list--> ['Gurvani ahuja', 2.2, 22]
Gurvani ahuja
2.2
22

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
print ("Original List --> ", L)
for s in L:
	print (s)

Original List -->  ['Pratham', 'Sharma', 3.14, 3]
Pratham
Sharma
3.14
3

In [ ]:
L=["Gurvani ahuja",2.2,22]
print("original list-->",L)
L.append("pari")
print("after adding-->",L)
del L[1]
print("after deletion-->",L)

original list--> ['Gurvani ahuja', 2.2, 22]
after adding--> ['Gurvani ahuja', 2.2, 22, 'pari']
after deletion--> ['Gurvani ahuja', 22, 'pari']

In [ ]:
L=[1,2,3,4,5,6,7]
print("original list-->",L)
print("sum-->",sum(L))
print("average-->",sum(L)/len(L))
print("average-->",sum(L)//len(L))
print("L*4-->",L*4)

original list--> [1, 2, 3, 4, 5, 6, 7]
sum--> 28
average--> 4.0
average--> 4
L*4--> [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [ ]:

L=[5,6,2,3,1,8,7]
print("original list-->",L)
print("max is-->",max(L))
print("min is-->",min(L))
L.sort()
print(" l after sort",L)
L.sort(reverse=True)
print("descending",L)

original list--> [5, 6, 2, 3, 1, 8, 7]
max is--> 8
min is--> 1
 l after sort [1, 2, 3, 5, 6, 7, 8]
descending [8, 7, 6, 5, 3, 2, 1]

In [ ]:
L1=[1,2,3,4,5]
L2=[7,8,10,12,22]
L3=L1+L2
print(L3)
print(L3[2:])
print(L3[::2])
print(L3[:-1])

[1, 2, 3, 4, 5, 7, 8, 10, 12, 22]
[3, 4, 5, 7, 8, 10, 12, 22]
[1, 3, 5, 8, 12]
[1, 2, 3, 4, 5, 7, 8, 10, 12]

In [ ]:
L=[5,6,2,3,1,8,7]
print("original list-->",L)
newL=[i*5 for i in L]
print ("After Multiply with constant --> ", newL)

original list--> [5, 6, 2, 3, 1, 8, 7]
After Multiply with constant -->  [25, 30, 10, 15, 5, 40, 35]

In [ ]:
L=[5,6,2,3,1,8,7]
print("original list-->",22 in L)
print("original list-->",6 in L)
if 22 in L==True:
  print("present")
else:
  print("absent")

original list--> False
original list--> True
absent

In [ ]:
cgpa={1:9.8,2:9.3,4:6.2}
for k in cgpa:
  print("cgpa[k] is :",cgpa[k])

cgpa[k] is : 9.8
cgpa[k] is : 9.3
cgpa[k] is : 6.2

In [ ]:
cgpa={1:9.8,2:9.3,4:6.2}
print(cgpa.keys())

dict_keys([1, 2, 4])