<a href="https://colab.research.google.com/github/Gurvani22/UCS712/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print("list in ascending order:",L)
L.sort(reverse=True)
print("list in  descending order:",L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
list in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
list in  descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [26]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
maxi=max(scores)
print("highest score is:",maxi)
print("index of maximum score in tuple is:",scores.index(maxi))
mini=min(scores)
print("lowest score is:",mini)
print("number of times lowest score appears:",scores.count(mini))
rev=scores[::-1]
print(list(rev))
new_s=input("enter the score to find:")
if(new_s in scores)==True:
  print("present and at index:",scores.index(new_s))
else:
  print("not present")

highest score is: 92
index of maximum score in tuple is: 5
lowest score is: 45
number of times lowest score appears: 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the score to find:12
not present

In [9]:
import random as r
list=[]
for i in range(100):
  list.append(r.randint(100,900))
ecnt=0
pcnt=0
elist=[]
olist=[]
plist=[]
for number in list:
  if number%2==0:
    ecnt=ecnt+1
    elist.append(number)
  else:
    olist.append(number)

print("total even numbers are:",ecnt," and these are:")
print(elist)
print("total odd numbers are:",100-ecnt," and these are:")
print(olist)

total even numbers are: 58  and these are:
[124, 700, 344, 258, 338, 774, 386, 182, 844, 550, 286, 386, 520, 798, 812, 414, 156, 592, 820, 146, 592, 312, 462, 414, 536, 280, 160, 334, 592, 276, 308, 476, 258, 470, 602, 252, 380, 576, 702, 648, 128, 588, 602, 630, 650, 782, 486, 224, 794, 656, 232, 498, 270, 150, 686, 104, 266, 208]
total odd numbers are: 42  and these are:
[257, 897, 817, 385, 187, 435, 817, 843, 451, 595, 871, 851, 605, 401, 583, 827, 863, 831, 193, 743, 289, 609, 181, 677, 631, 589, 319, 891, 329, 121, 161, 731, 311, 811, 801, 579, 759, 177, 567, 585, 653, 493]

In [7]:
a = {34, 56, 78, 90}
b = {78, 45, 90, 23}
print("union of sets is",a|b)
print("intersection of sets is",a&b)
print("scores exclusive to both teams",a-b)
rem=input("enter the element to remove")

if (rem in a)==True:
  a.remove(rem)
else:
  print("not present")
if (a|b==b):
  print(" a is a subset of b")
else:
  print(" a is not a subset of b")

union of sets is {34, 45, 78, 23, 56, 90}
intersection of sets is {90, 78}
scores exclusive to both teams {56, 34}
enter the element to remove12
not present
 a is not a subset of b

In [8]:
initial={"name":"gurvani","age":19,"salary":10000,"city":"california"}
print(initial)
initial['location']=initial.pop('city')
initial

{'name': 'gurvani', 'age': 19, 'salary': 10000, 'city': 'california'}

{'name': 'gurvani', 'age': 19, 'salary': 10000, 'location': 'california'}